.alert{
    text-align: center;
    display: flex;
    background: #ffbcb5;
    margin-top: 7px;
    margin-bottom: 7px;
    color: #424242;
    border-radius: 10px;
    justify-content: center;
}

.alertText{
    transform: translate(0,-25%);
}