.indicator{
    text-align: center;
    padding: 20px;
    background: #424242;
    border-radius: 5px;
}


.pointer{
    position: relative;
    left: 20px;
    width: 0;
    height: 0;
    border-top: 10px solid #424242;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}