body{
    font-family: 'Hind Siliguri', sans-serif;
    background: #43C6AC no-repeat fixed;
    background: -webkit-linear-gradient(to right, #191654, #43C6AC) no-repeat fixed;
    background: linear-gradient(to right, #191654, #43C6AC) no-repeat fixed;
}